.sidebar {
  grid-area: 2/1/3/2;
  background-color: white;
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  z-index: 200;
}

.sidebar-link {
  width: 100%;
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: lightgray;
}
.sidebar-link img {
  height: 24px;
}
.sidebar-link p {
  font-family: Roboto, Arial;
  font-size: 10px;
}
