.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px 16px;
  z-index: -1;
  padding: 25px;
  background-color: rgb(248, 248, 248);
}

.video_container {
  display: flex;
  row-gap: 12px;
  flex-direction: column;
  vertical-align: top;
}
.thumbnail_container {
  position: relative;
}
.thumbnail_img {
  width: 100%;
}
.channel_pfp_container {
  height: 100%;
  width: 17%;
  align-self: flex-start;
}
.pfp_img {
  width: 83%;
  border-radius: 50px;
}
.channel_info_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 200px;
  row-gap: 5px;
}
.creator_name_text,
.views_text {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.details_container {
  display: flex;
  column-gap: 10px;
}

.video_title_text {
  font-weight: 500;
  font-size: 14px;
}
.video-time {
  font: 500 12px Roboto, Arial;
  position: absolute;
  background-color: black;
  color: white;
  bottom: 8px;
  right: 7px;
  padding: 4px;
}
